*.pyc
Api/venv
*.sqlite3
*.pem
.env
.idea
*.DS_Store
/Api/.php_cs.cache
*npm-debug.log

/Api/web/bundles/
/Api/app/bootstrap.php.cache
/Blog/app/js
/Blog/app/cs
/BlogModern/node_modules/
/BlogModern/public/js/

# Application cache
/Api/app/cache/*
/Api/app/config/parameters.yml
/Api/app/logs/*
!/Api/app/cache/.gitkeep
!/Api/app/logs/.gitkeep
/Api/build/
/Blog/build/
/Api/vendor/
/Api/bin/
/composer.phar

# NPM
/Api/node_modules
/Blog/node_modules

# Bower components
/Api/bower_components/
/Blog/bower_components/

# Grunt generated directories
/Api/web/resources/js
/Api/web/resources/css
/Api/web/resources/fonts
/Api/web/resources/images


# Assembled Assets
/Api/web/assets
/Blog/app
