*.DS_Store

/web/bundles/
/app/bootstrap.php.cache

# Application cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

# NPM
node_modules

# Bower components
bower_components/

# Grunt generated directories
web/js
web/css
web/fonts
web/images
