*.DS_Store

/web/bundles/
/app/bootstrap.php.cache

# Application cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

# Assetic
/web/css
/web/js

# NPM
node_modules

# Bower components
web/components
