<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}Ryan Catlin{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% include 'MainBundle::menu.html.twig' %}

        {% block content %}
        {% endblock %}
    </body>
<html>
