<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Ryan Catlin{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 
                'components/bootstrap/dist/css/bootstrap.min.css'
                'components/bootstrap/dist/css/bootstrap-theme.min.css'
                '@MainBundle/Resources/css/styles.css'
                filter='cssrewrite'
                output="css/compiled/all.css"
             %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts
                'components/jquery/dist/jquery.js'
                'components/bootstrap/js/*'
                output="js/compiled/all.js"
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="jumbotron">
            <h2>
                Ryan Catlin 
                <br /><small>code and shark enthusiast</small>
            </h2>
        </div>
        {% include 'MainBundle::menu.html.twig' %}

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </body>
<html>
