<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}Ryan Catlin{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
<html>
