{% extends 'MainBundle::base.html.twig' %}

{% block content %}

    <h1>
        <i class="fa fa-exclamation-circle"></i>
        error 404?!
        <i class="fa fa-exclamation-circle"></i>
    </h1>

    <img class="img-thumbnail" src="{{ asset('assets/images/tanner.jpg') }}" alt="Whaaaat?" />

{% endblock %}
