{% extends 'MainBundle::base.html.twig' %}

{% block title %}{{ parent() }} - Dubious{% endblock %}

{% block content %}
    <p>
        {% if message is defined %}
            {{ message }}
        {% endif %}
    </p>

    <p>
        Are you not entertained, Interwebs?
    </p>
{% endblock %}
