{% set route = app.request.attributes.get('_route') %}
<ul>
    <li>
        {% if route == 'index' %}
            <strong>Index</strong>
        {% else %}
            <a href="{{ path('index') }}">Index</a>
        {% endif %}
    </li>
    <li>
        {% if route == 'about' %}
            <strong>About</strong>
        {% else %}
            <a href="{{ path('about') }}">About</a>
        {% endif %}
    </li>
</ul>
    