<ul class="pager">

    {% if page > 1 %}
        <li class="previous">
            <a href="{{ path('index', {'p': page - 1}) }}">&larr; Previous</a>
        </li>
    {% endif %}

    {% if page < numPages %}
        <li class="next">
            <a href="{{ path('index', {'p': page + 1}) }}">Next &rarr;</a>
        </li>
    {% endif %}

</ul>
