<ul class="pager">

    {% if page > 1 %}
        <li class="previous">
            <a href="{{ path(
                app.request.attributes.get('_route'),
                {'p': page - 1}|merge(app.request.attributes.get('_route_params'))
            ) }}">&larr; Previous</a>
        </li>
    {% endif %}

    {% if page < numPages %}
        <li class="next">
            <a href="{{ path(
                app.request.attributes.get('_route'),
                {'p': page + 1}|merge(app.request.attributes.get('_route_params'))
            ) }}">Next &rarr;</a>
        </li>
    {% endif %}

</ul>
