{% extends 'AdminBundle::base.html.twig' %}

{% block content -%}
    <h1>Tag edit</h1>

    {% include 'AdminBundle::Tag/form.html.twig' with {'form': edit_form} %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tags') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
